<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>template</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
</head>
<body>
<form method="post" th:action="@{/login}" th:object="${loginForm}">
  <label for="loginId" class="form-label">ログインID<br>
    <input type="text" class="form-control" id="loginId" name="loginId" th:field="*{loginId}">
  </label><br>
  <label for="password" class="form-label">パスワード<br>
    <input type="password" class="form-control" id="password" name="password" th:field="*{password}">
  </label><br>
  <input type="submit" class="btn btn-primary" value="ログイン">
</form>
</body>
</html>