<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>SpringBoot Template</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script defer th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
  <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"
          type="text/javascript"></script>
  <script defer th:src="@{/js/main.js}" type="text/javascript"></script>
</head>
<body>
<th:block layout:replace="~{fragment/header::header}"></th:block>
<div id="main">
  <th:block layout:replace="~{fragment/sidebar::sidebar}"></th:block>
  <th:block layout:fragment="content"></th:block>
</div>
</body>
</html>