<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>

  <!-- コンソール出力 -->
  <SpringProfile name="local | dev">
    <root level="DEBUG">
      <appender-ref ref="STDOUT"/>
    </root>
  </SpringProfile>

  <SpringProfile name="prod">
    <root level="INFO">
      <appender-ref ref="STDOUT"/>
    </root>
  </SpringProfile>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %class{5} %-5level %msg%n</pattern>
    </encoder>
    <target>System.out</target>
  </appender>
</configuration>