<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="sidebar">
  <div id="sidebar" sec:authorize="isAuthenticated()">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">Dashbord</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/samples}">Sample</a>
      </li>
    </ul>
  </div>
</th:block>
</html>