<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
  <div class="container" id="content">
    <h2>Sample</h2>
    <div id="form">
      <form method="post" th:action="@{/sample/create/confirm}" th:object="${sampleCreateForm}">
        <div id="form-input">
          <label class="form-label" for="text1">TEXT1<br>
            <input class="form-control" id="text1" name="text1" th:errorclass="is-invalid"
                   th:field="*{text1}"
                   type="text">
            <div class="invalid-feedback" th:errors="*{text1}"></div>
          </label><br>
          <label class="form-label" for="num1">NUM1<br>
            <input class="form-control" id="num1" name="num1" th:errorclass="is-invalid"
                   th:field="*{num1}"
                   type="number">
            <div class="invalid-feedback" th:errors="*{num1}"></div>
          </label><br>
        </div>
        <a class="btn btn-secondary" role="button" th:href="@{/sample/search/return}"
           th:text="キャンセル"></a>
        <input class="btn btn-primary" type="submit" value="確認">
      </form>
    </div>
  </div>
</th:block>
</html>