<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
  <div class="container" id="content">
    <h2>Sample</h2>
    <div id="form">
      <form method="post"
            th:action="@{/sample/{displayId}/delete/process(displayId=${sampleDeleteResponse.sampleDeleteDisplayId})}">
        <div id="form-input">
          <label class="form-label" for="sampleDeleteDisplayId">ID</label>
          <div id="displayId-component">
            <p id="sampleDeleteDisplayId"
               th:text="${#strings.substring(sampleDeleteResponse.sampleDeleteDisplayId,0,8)}"></p>
            <i class="bi bi-copy" data-bs-toggle="tooltip" id="copy"
               th:data-bs-title="IDフル桁コピー"
               th:data-id="${sampleDeleteResponse.sampleDeleteDisplayId}"></i>
          </div>
          <label class="form-label" for="text1">TEXT1</label>
          <p id="text1" th:text="${sampleDeleteForm.text1}"></p>
          <label class="form-label" for="text1">NUM1</label>
          <p id="num1" th:text="${sampleDeleteForm.num1}"></p>
        </div>
        <a class="btn btn-secondary" role="button"
           th:href="@{/sample/{displayId}(displayId=${sampleDeleteResponse.sampleDeleteDisplayId})}"
           th:text="キャンセル"></a>
        <input class="btn btn-primary" type="submit" value="削除">
      </form>
    </div>
  </div>
</th:block>
</html>