<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>template</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
</head>
<body>
<form method="post"
      th:action="@{/sample/{displayId}/delete/process(displayId=${sampleDeleteDisplayId})}">
  <label for="sampleDeleteDisplayId" class="form-label">ID</label>
  <p id="sampleDeleteDisplayId" th:text="${sampleDeleteDisplayId}"></p>
  <label for="text1" class="form-label">TEXT1</label>
  <p id="text1" th:text="${sampleDeleteForm.text1}"></p>
  <label for="text1" class="form-label">NUM1</label>
  <p id="num1" th:text="${sampleDeleteForm.num1}"></p>
  <input type="submit" class="btn btn-primary" value="削除">
</form>
<a th:text="キャンセル" class="btn btn-secondary" role="button" th:href="@{/sample/{displayId}(displayId=${sampleDeleteDisplayId})}"></a>
</body>
</html>