<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>template</title>
</head>
<body>
<a th:text="更新" th:href="@{/sample/{displayId}/update(displayId=${sampleResult.displayId})}"></a>
<a th:text="削除"
   th:href="@{/sample/{displayId}/delete/confirm(displayId=${sampleResult.displayId})}"></a>
<div th:object="${sampleResult}">
  <label>ID</label>
  <p th:text="${sampleResult.displayId}"></p>
  <label>TEXT1</label>
  <p th:text="${sampleResult.text1}"></p>
  <label>NUM1</label>
  <p th:text="${sampleResult.num1}"></p>
</div>
<a th:text="一覧" th:href="@{/sample/search/return}"></a>
</body>
</html>