<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
  <div class="container" id="content">
    <h2>Sample</h2>
    <div id="form" th:object="${sampleResult}">
      <div id="form-input">
        <label for="displayId" class="form-label">ID</label>
        <div id="displayId-component">
          <p id="displayId" th:text="${#strings.substring(sampleResult.displayId,0,8)}"></p>
          <i class="bi bi-copy" id="copy" th:data-id="${sampleResult.displayId}" data-bs-toggle="tooltip" th:data-bs-title="IDフル桁コピー"></i>
        </div>
        <label for="text1" class="form-label">TEXT1</label>
        <p id="text1" th:text="${sampleResult.text1}"></p>
        <label for="num1" class="form-label">NUM1</label>
        <p id="num1" th:text="${sampleResult.num1}"></p>
      </div>
    </div>
    <a th:text="一覧" class="btn btn-secondary" role="button" th:href="@{/sample/search/return}"></a>
    <a th:text="更新" class="btn btn-secondary" role="button" th:href="@{/sample/{displayId}/update(displayId=${sampleResult.displayId})}"></a>
    <a th:text="削除" class="btn btn-secondary" role="button"
       th:href="@{/sample/{displayId}/delete/confirm(displayId=${sampleResult.displayId})}"></a>
  </div>
</th:block>
</html>