<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>template</title>
</head>
<body>
<form method="post" th:action="@{/sample/{id}/update/confirm(id=${sampleUpdateId})}" th:object="${sampleUpdateForm}">
    <label>ID</label>
    <p th:text="${sampleUpdateId}"></p>
    <label>TEXT1<br>
        <input type="text" name="text1" th:field="*{text1}">
    </label><br>
    <label>NUM1<br>
        <input type="number" name="num1" th:field="*{num1}">
    </label><br>
    <input type="submit" value="確認">
</form>
</body>
</html>