<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>template</title>
</head>
<body>
<form method="post" th:action="@{/sample/{id}/update/process(id=${sampleUpdateId})}">
    <label>ID</label>
    <p th:text="${sampleUpdateId}"></p>
    <label>TEXT1</label>
    <p th:text="${sampleUpdateForm.text1}"></p>
    <label>NUM1</label>
    <p th:text="${sampleUpdateForm.num1}"></p>
    <input type="submit" value="更新">
</form>
</body>
</html>